/* styles.css */
body {
  font-family: system-ui, Arial, sans-serif;
  padding: 0 5px 0 5px;
}

#messageArea .alert {
  margin-bottom: 1rem;
}
.btn-delete,
.btn-edit {
  margin-top: 1px;
}

.mTop {
  margin-top: 1rem;
}
